h1 {
	text-align: center;
	}

.shining
{
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
	color: rgba(255, 255, 255, 0.1);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes shine
{
	0%
	{
	background-position: top left;
    }
    100%
	{
	background-position: top right;
    }
}

body {
	background: #333 url(images/bg-space-tile.gif) top center fixed repeat-x
}

